header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.header__logo{
    padding-left: 1rem;
}
.header__gnb{
    width: 100%;
}
.gnb__wrap{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.gnb__wrap li a{
    margin-right: 5rem;
    font-size: 1.8rem;
}
.gnb__wrap li a.last{
    margin-right: 0;
}
.header__box-r{
    display: flex;   
}
.header__lang{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__lang a{
    margin-right: 3rem;
    font-size: 1.4rem;
}
.header__lang a.last{
    margin-right: 0;
}
.header__menu-bt{
    display: flex;
    justify-content: center ;  
    align-items: center;  
    width: 84px;
    height: 84px;
    font-size:1.8rem;
}
.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    font-size: 1.8rem;
    background-color: #286abd;
    color: #fff;
}